<h3><a class="btn btn-secondary" href="/router"> Create New</a> Route</h3>
<table>
    <thead>
        <tr>
            <th>FuelTypeCode</th>
            <th>StationName</th>
            <th>StreetAddress</th>
            <th>IntersectionDirections</th>
            <th>City</th>
            <th>State</th>
            <th>ZIP</th>
            <th>Plus4</th>
            <th>StationPhone</th>
            <th>StatusCode</th>
            <th>ExpectedDate</th>
            <th>GroupsWithAccessCode</th>
            <th>AccessDaysTime</th>
            <th>CardsAccepted</th>
            <th>BDBlends</th>
            <th>NGFillTypeCode</th>
            <th>NGPSI</th>
            <th>EVLevel1EVSENum</th>
            <th>EVLevel2EVSENum</th>
            <th>EVDCFastCount</th>
            <th>EVOtherInfo</th>
            <th>EVNetwork</th>
            <th>EVNetworkWeb</th>
            <th>GeocodeStatus</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>DateLastConfirmed</th>
            <th>ID</th>
            <th>UpdatedAt</th>
            <th>OwnerTypeCode</th>
            <th>FederalAgencyID</th>
            <th>FederalAgencyName</th>
            <th>OpenDate</th>
            <th>HydrogenStatusLink</th>
            <th>NGVehicleClass</th>
            <th>LPGPrimary</th>
            <th>E85BlenderPump</th>
            <th>EVConnectorTypes</th>
            <th>Country</th>
            <th>IntersectionDirectionsFrench</th>
            <th>AccessDaysTimeFrench</th>
            <th>BDBlendsFrench</th>
            <th>GroupsWithAccessCodeFrench</th>
            <th>HydrogenIsRetail</th>
            <th>AccessCode</th>
            <th>AccessDetailCode</th>
            <th>FederalAgencyCode</th>
            <th>FacilityType</th>
            <th>CNGDispenserNum</th>
            <th>CNGOnSiteRenewableSource</th>
            <th>CNGTotalCompressionCapacity</th>
            <th>CNGStorageCapacity</th>
            <th>LNGOnSiteRenewableSource</th>
            <th>E85OtherEthanolBlends</th>
            <th>EVPricing</th>
            <th>EVPricingFrench</th>
            <th>LPGNozzleTypes</th>
            <th>HydrogenPressures</th>
            <th>HydrogenStandards</th>
            <th>CNGFillTypeCode</th>
            <th>CNGPSI</th>
            <th>CNGVehicleClass</th>
            <th>LNGVehicleClass</th>
            <th>EVOnSiteRenewableSource</th>
            <th>RestrictedAccess</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.FuelTypeCode}}</td>
            <td>{{this.StationName}}</td>
            <td>{{this.StreetAddress}}</td>
            <td>{{this.IntersectionDirections}}</td>
            <td>{{this.City}}</td>
            <td>{{this.State}}</td>
            <td>{{this.ZIP}}</td>
            <td>{{this.Plus4}}</td>
            <td>{{this.StationPhone}}</td>
            <td>{{this.StatusCode}}</td>
            <td>{{this.ExpectedDate}}</td>
            <td>{{this.GroupsWithAccessCode}}</td>
            <td>{{this.AccessDaysTime}}</td>
            <td>{{this.CardsAccepted}}</td>
            <td>{{this.BDBlends}}</td>
            <td>{{this.NGFillTypeCode}}</td>
            <td>{{this.NGPSI}}</td>
            <td>{{this.EVLevel1EVSENum}}</td>
            <td>{{this.EVLevel2EVSENum}}</td>
            <td>{{this.EVDCFastCount}}</td>
            <td>{{this.EVOtherInfo}}</td>
            <td>{{this.EVNetwork}}</td>
            <td>{{this.EVNetworkWeb}}</td>
            <td>{{this.GeocodeStatus}}</td>
            <td>{{this.Latitude}}</td>
            <td>{{this.Longitude}}</td>
            <td>{{this.DateLastConfirmed}}</td>
            <td>{{this.ID}}</td>
            <td>{{this.UpdatedAt}}</td>
            <td>{{this.OwnerTypeCode}}</td>
            <td>{{this.FederalAgencyID}}</td>
            <td>{{this.FederalAgencyName}}</td>
            <td>{{this.OpenDate}}</td>
            <td>{{this.HydrogenStatusLink}}</td>
            <td>{{this.NGVehicleClass}}</td>
            <td>{{this.LPGPrimary}}</td>
            <td>{{this.E85BlenderPump}}</td>
            <td>{{this.EVConnectorTypes}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.IntersectionDirectionsFrench}}</td>
            <td>{{this.AccessDaysTimeFrench}}</td>
            <td>{{this.BDBlendsFrench}}</td>
            <td>{{this.GroupsWithAccessCodeFrench}}</td>
            <td>{{this.HydrogenIsRetail}}</td>
            <td>{{this.AccessCode}}</td>
            <td>{{this.AccessDetailCode}}</td>
            <td>{{this.FederalAgencyCode}}</td>
            <td>{{this.FacilityType}}</td>
            <td>{{this.CNGDispenserNum}}</td>
            <td>{{this.CNGOnSiteRenewableSource}}</td>
            <td>{{this.CNGTotalCompressionCapacity}}</td>
            <td>{{this.CNGStorageCapacity}}</td>
            <td>{{this.LNGOnSiteRenewableSource}}</td>
            <td>{{this.E85OtherEthanolBlends}}</td>
            <td>{{this.EVPricing}}</td>
            <td>{{this.EVPricingFrench}}</td>
            <td>{{this.LPGNozzleTypes}}</td>
            <td>{{this.HydrogenPressures}}</td>
            <td>{{this.HydrogenStandards}}</td>
            <td>{{this.CNGFillTypeCode}}</td>
            <td>{{this.CNGPSI}}</td>
            <td>{{this.CNGVehicleClass}}</td>
            <td>{{this.LNGVehicleClass}}</td>
            <td>{{this.EVOnSiteRenewableSource}}</td>
            <td>{{this.RestrictedAccess}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/router/{{this.id}}">Edit</a>
                <a class="btn btn-primary btn-sm" href="/router/delete/{{this.id}}"
                onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>